
        <div class="box-part text-center">
                <ul class="list-group">
                                <li class="list-group-item"><b>{{ character.name }}</b></li>
                                <li class="list-group-item list-group-item-secondary">HEIGHT: {{ character.height }}</li>
                                <li class="list-group-item list-group-item-success">EYE COLOR: {{ character.eye_color }}</li>
                                <li class="list-group-item list-group-item-danger">SKIN COLOR: {{ character.skin_color }}</li>
                                <li class="list-group-item list-group-item-warning">GENDER: {{ character.gender }}</li>
                                <li class="list-group-item list-group-item-info">MASS: {{ character.mass }}</li>
                </ul>
        </div>  
