

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/

body{
    background: gray;
}
span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}

.heart {
    font-size: 25px;
      color:red;
  }


/* spinner */

#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }
  button {
    margin: 40px;
    padding: 5px 20px;
    cursor: pointer;
  }
  .spinner {
      margin: 0 auto;
      height: 64px;
      width: 64px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid firebrick;
      border-right-color: transparent;
      border-radius: 50%;
  }
  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }


  .hide {
      display: none;
  }

  .show {
      display: block;
  }

  .fav {
      float:right;  
      position: relative;
      top:-4em;
  }

  .compare {
      float: right;
      top: 4em;
      position: relative;
  }

  .compareborder {
      border: none;
  }

  .legend {
    list-style-type: none;
  }

  .deactivated {
      color: gray;
  }

  
